.navbar {
  padding: 0;
}

.navbar.bg-white {
  background: #e6e6e6 !important;
}

.navbar .navbar-brand,
.navbar .nav-link {
  font-weight: 300;
  color: #000 !important;
  font-size: 24px !important;
  border-bottom: 4px solid transparent;
  padding: 12px 0 4px 0 !important;
  opacity: .6;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.navbar .navbar-brand:hover,
.navbar .nav-link:hover {
  opacity: .8;
}

.navbar .navbar-brand.active,
.navbar .nav-link.active {
  background: transparent;
  opacity: 1;
}

.navbar .navbar-brand {
  font-weight: 300;
}

.navbar .navbar-brand img {
  max-height: 18px;
  margin-top: -4px;
  width: auto;
  display: inline;
}

.navbar .nav-link {
  margin-right: 20px;
}

.navbar .container {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar .navbar-nav .dropdown-menu {
  position: absolute !important;
}

.navbar .ellipse {
  margin-top: 9px;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.navbar .ellipse:hover,
.navbar .ellipse.show {
  background: rgba(0, 0, 0, 0.1);
}

.navbar .ellipse .nav-link {
  letter-spacing: 2px;
  color: #292b2c;
  font-size: 24px;
  line-height: 1;
  margin-right: 0;
  padding-left: 14px !important;
  padding-right: 14px !important;
}

.navbar .ellipse .nav-link .ellipses {
  position: relative;
  font-weight: 500;
  top: -7px;
}

.navbar .ellipse .dropdown-toggle::after {
  display: none;
}

.navbar .ellipse .dropdown-menu {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  padding: 0;
  margin-top: 0;
  font-size: 15px;
  background: #f2f2f2;
}

.navbar .ellipse .dropdown-menu .dropdown-divider {
  margin: 0 10px;
  background-color: #ddd;
}

.navbar .ellipse .dropdown-menu .dropdown-item {
  padding: 10px;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  color: #292929;
}

.navbar .ellipse .dropdown-menu .dropdown-item:hover {
  background: #dadada;
}

.navbar .ellipse .dropdown-menu .dropdown-item:active {
  color: #292929;
}

.navbar .ellipse .dropdown-menu .dropdown-item.active:focus {
  color: #fff !important;
}

.navbar .ellipse .dropdown-menu .disabled {
  opacity: .5;
}

.navbar .ellipse .dropdown-menu .disabled:hover {
  background: transparent;
}

.navbar .navbar-toggler {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  padding: 10px 12px;
  margin-right: -15px;
}

.navbar .navbar-toggler .navbar-toggler-icon {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.brand {
  text-transform: uppercase;
}

.brand .bold {
  font-weight: 600;
}

body {
  margin-top: 60px;
}

h1 {
  font-weight: 300;
}

