.cw-sidebar {
  padding: 0 !important;
  height: 100vh;
  max-width: 320px;
  min-width: 320px;
  position: -webkit-sticky;
  position: sticky;
}

.cw-sidebar .noise {
  height: 100vh;
  background-image: url("/moana/public/images/noise.png");
}

.cw-sidebar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cw-sidebar .logo .img-logo {
  height: 32px;
  width: auto;
  margin: 40px 0 30px;
}

.cw-sidebar .list-group .list-group-item {
  background: none;
  border-radius: 0;
  border: 1px solid transparent;
  padding: 0;
}

.cw-sidebar .list-group .list-group-item .fa-fw {
  padding: 15px 15px 15px 11px;
  border-left: 5px solid transparent;
}

.cw-sidebar .list-group .list-group-item .title {
  padding: 9px 9px 9px 21px;
}

.cw-sidebar .list-group .list-group-item.active .fa-fw {
  border-left-color: #0078d7;
}

@media only screen and (max-width: 900px) {
  .cw-sidebar {
    max-width: 50px;
    min-width: 50px;
  }

  .cw-sidebar .logo .img-logo {
    height: 20px;
    width: auto;
    margin: 15px;
  }

  .cw-sidebar .title {
    display: none;
  }
}

.cw-content {
  padding: 0 !important;
  max-width: 100% !important;
}

.cw-content .jumbotron {
  background: transparent;
  margin-bottom: 0;
}

.cw-content .row-jumbotron {
  margin: 0;
}

.cw-content .row-main {
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.cw-content .flexing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
}

.cw-content .noise {
  background-image: url("/moana/public/images/noise.png");
}

.cw-content .content {
  height: auto;
}

.cw-content .row-height {
  margin: 0;
}

.cw-content .height-25 {
  height: 25px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9 {
  padding-left: 5px;
  padding-right: 5px;
}

.col-md-3.list-bar-group {
  padding-left: 2px;
  padding-right: 2px;
}

.row-p-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.form-control {
  font-family: inherit;
  border-radius: 0;
}

.color-form-control {
  display: block;
  width: 100%;
  height: 39px;
}

textarea {
  height: 100px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.btn {
  font-family: inherit;
  border-radius: 0;
  border-color: transparent !important;
}

.btn.btn-primary {
  background-color: #0078d7;
}

.btn.btn-primary:hover {
  background-color: #0064b3;
}

.btn.btn-success {
  background-color: #76b540;
}

.btn.btn-success:hover {
  background-color: #659b37;
}

.label {
  font-size: 100%;
  font-weight: 600;
  padding: .3em .7em .4em 0 !important;
  text-transform: uppercase;
}

.label.vnext,
.label.leak {
  color: #dc5332;
}

.label.fast {
  color: #f28a11;
}

.label.slow {
  color: #ffba00;
}

.label.preview {
  color: #cccc29;
}

.label.release {
  color: #b5b540;
}

.label.pilot {
  color: #76b540;
}

.label.broad {
  color: #40b57b;
}

.label.ltsc {
  color: #40a3b5;
}

.img-responsive.img-platform {
  margin-top: -8px;
  margin-bottom: -5px;
  height: 32px;
  width: auto;
}

.jumbotron {
  border-radius: 0;
  padding: 0;
  padding: 30px 20px;
}

.jumbotron h1 {
  font-size: 55px;
  margin-bottom: 0;
}

.jumbotron .toolbar .btn {
  margin-top: 20px;
}

.jumbotron .toolbar .btn.btn-default {
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 99px;
}

.jumbotron .toolbar .btn.btn-default .fa-fw {
  margin-right: 10px;
}

.jumbotron .toolbar .btn.btn-default:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.jumbotron .container {
  padding: 0;
}

.modal-dialog {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.modal-dialog .modal-content {
  border-radius: 0;
  border: 1px solid #0078d7;
}

.modal-dialog .modal-content .modal-header {
  border: none;
  padding: 0;
}

.modal-dialog .modal-content .modal-header .close {
  padding: 12px 10px;
  margin-top: -35px;
  margin-bottom: 0;
}

.modal-dialog .modal-content .modal-header .modal-title {
  font-weight: 700;
  font-size: 35px;
  padding: 15px;
}

.modal-dialog .modal-content .col-12:last-child .form-group {
  margin-bottom: 0;
}

.brand {
  text-transform: uppercase;
  font-weight: 300;
}

.brand .bold {
  font-weight: 600;
}

.list-bar-group {
  padding: 0 18px;
}

.list-bar-group .list-bar {
  padding: 0 12px;
}

.list-bar-group .list-bar .list-bar-item {
  padding: 10px;
  background: #fff;
  margin-bottom: 3px;
}

.list-bar-group .list-bar .list-bar-item:hover {
  text-decoration: none;
}

.list-bar-group .list-bar .list-bar-item.list-bar-default {
  color: #0078d7;
}

.list-bar-group .list-bar .list-bar-item.list-bar-default:hover {
  background: #0078d7;
  color: #fff;
}

.list-bar-group .list-bar .list-bar-item.list-bar-grey {
  color: #0078d7;
}

.list-bar-group .list-bar .list-bar-item.list-bar-grey:hover {
  background: #f9f9f9;
}

.list-bar-group .list-bar .list-bar-item.list-bar-danger {
  color: #dc5332;
}

.list-bar-group .list-bar .list-bar-item.list-bar-danger:hover {
  background: #dc5332;
  color: #fff;
}

.list-bar-group .list-bar .list-bar-item.list-bar-success {
  color: #76b540;
}

.list-bar-group .list-bar .list-bar-item.list-bar-success:hover {
  background: #76b540;
  color: #fff;
}

.list-bar-group .list-bar .list-bar-item.list-bar-platform {
  text-align: center;
}

.list-bar-group .list-bar .list-bar-item.list-bar-platform.list-bar-pc {
  background: #0078d7;
}

.list-bar-group .list-bar .list-bar-item.list-bar-platform.list-bar-mobile {
  background: #21c8ff;
}

.list-bar-group .list-bar .list-bar-item.list-bar-platform.list-bar-xbox {
  background: #107c10;
}

.list-bar-group .list-bar .list-bar-item.list-bar-platform.list-bar-server {
  background: #ab59f7;
}

.list-bar-group .list-bar .list-bar-item.list-bar-platform.list-bar-iot {
  background: #e75819;
}

.list-bar-group .list-bar .list-bar-item.list-bar-platform.list-bar-reality {
  background: #ff9c00;
}

.list-bar-group .list-bar .list-bar-item.list-bar-platform.list-bar-team {
  background: #787878;
}

.list-bar-group .list-bar .list-bar-item.list-bar-indicate {
  border-left-width: 5px;
  border-left-style: solid;
}

.list-bar-group .list-bar .list-bar-item.list-bar-indicate.list-bar-pc {
  border-left-color: #0078d7;
}

.list-bar-group .list-bar .list-bar-item.list-bar-indicate.list-bar-mobile {
  border-left-color: #21c8ff;
}

.list-bar-group .list-bar .list-bar-item.list-bar-indicate.list-bar-xbox {
  border-left-color: #107c10;
}

.list-bar-group .list-bar .list-bar-item.list-bar-indicate.list-bar-server {
  border-left-color: #ab59f7;
}

.list-bar-group .list-bar .list-bar-item.list-bar-indicate.list-bar-iot {
  border-left-color: #e75819;
}

.list-bar-group .list-bar .list-bar-item.list-bar-indicate.list-bar-reality {
  border-left-color: #ff9c00;
}

.list-bar-group .list-bar .list-bar-item.list-bar-indicate.list-bar-team {
  border-left-color: #787878;
}

.list-bar-group .list-bar .list-bar-item .list-bar-item-row {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.login {
  background-color: #eee;
}

.login h2 {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
  font-size: 40px;
}

.light {
  color: #222;
}

.light .cw-sidebar .list-group .list-group-item {
  color: #222;
}

.light .cw-sidebar .list-group .list-group-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.7);
}

.light .cw-content .btn.btn-default {
  color: #222;
}

.light .contrast-40 {
  background: rgba(255, 255, 255, 0.4);
}

.light .contrast-95 {
  background: rgba(255, 255, 255, 0.95);
}

.dark {
  color: #fff;
}

.dark .cw-sidebar .list-group .list-group-item {
  color: #fff;
}

.dark .cw-sidebar .list-group .list-group-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.7);
}

.dark .cw-content .btn.btn-default {
  color: #fff;
}

.dark .contrast-40 {
  background: rgba(0, 0, 0, 0.4);
}

.dark .contrast-95 {
  background: rgba(0, 0, 0, 0.95);
}

html,
body {
  height: 100%;
}

.cw-row {
  background-image: url("/moana/public/images/background.jpg");
  background-size: cover;
}

h1 {
  font-size: 35px;
  font-weight: 700;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 10px;
}

.h2-delete {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 30px;
}

.h3-delete {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 210px;
}

.h4-delete {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
}

.content {
  padding: 20px 30px !important;
}

.fa,
.fas,
.far,
.fal,
.fab {
  vertical-align: 0 !important;
}

