.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9 {
  padding-left: 5px;
  padding-right: 5px;
}

.col-md-3.list-bar-group {
  padding-left: 2px;
  padding-right: 2px;
}

.row-p-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.navbar {
  margin-bottom: 0;
}

.navbar .navbar-brand {
  font-weight: 300;
}

.navbar .navbar-brand img {
  max-height: 18px;
  margin-top: -4px;
  width: auto;
  display: inline;
}

.navbar .navbar-nav .dropdown-menu {
  position: absolute !important;
}

.navbar .ellipse .nav-link {
  letter-spacing: 2px;
}

.navbar .ellipse .dropdown-toggle::after {
  display: none;
}

.form-control {
  font-family: inherit;
  border-radius: 0;
}

.color-form-control {
  display: block;
  width: 100%;
  height: 39px;
}

textarea {
  height: 100px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.btn {
  font-family: inherit;
  border-radius: 0;
  border-color: transparent !important;
}

.btn.btn-primary {
  background-color: #0078d7;
}

.btn.btn-primary:hover {
  background-color: #0064b3;
}

.btn.btn-success {
  background-color: #76b540;
}

.btn.btn-success:hover {
  background-color: #659b37;
}

.label {
  font-size: 100%;
  font-weight: 600;
  padding: .3em .7em .4em 0 !important;
}

.label.vnext,
.label.leak {
  color: #dc5332;
}

.label.fast {
  color: #f28a11;
}

.label.slow {
  color: #ffba00;
}

.label.preview {
  color: #cccc29;
}

.label.release {
  color: #b5b540;
}

.label.pilot {
  color: #76b540;
}

.label.broad {
  color: #40b57b;
}

.label.ltsc {
  color: #40a3b5;
}

.brand {
  text-transform: uppercase;
}

.brand .bold {
  font-weight: 600;
}

.list-bar-group {
  padding: 0 18px;
}

.list-bar-group .list-bar {
  padding: 0 12px;
}

.list-bar-group .list-bar .list-bar-item {
  padding: 10px;
  background: #f2f2f2;
  margin-bottom: 3px;
}

.list-bar-group .list-bar .list-bar-item:hover {
  text-decoration: none;
}

.list-bar-group .list-bar .list-bar-item.list-bar-default {
  color: #0078d7;
}

.list-bar-group .list-bar .list-bar-item.list-bar-default:hover {
  background: #0078d7;
  color: #fff;
}

.list-bar-group .list-bar .list-bar-item.list-bar-danger {
  color: #dc5332;
}

.list-bar-group .list-bar .list-bar-item.list-bar-danger:hover {
  background: #dc5332;
  color: #fff;
}

.list-bar-group .list-bar .list-bar-item.list-bar-success {
  color: #76b540;
}

.list-bar-group .list-bar .list-bar-item.list-bar-success:hover {
  background: #76b540;
  color: #fff;
}

.list-bar-group .list-bar .list-bar-item .list-bar-item-row {
  margin-left: 0;
  margin-right: 0;
}

h1 {
  font-size: 35px;
  font-weight: 700;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 10px;
}

.container.content {
  padding: 10px;
}

