.btn {
    font-family: inherit;
    border-radius: 0;
    border-color: transparent !important;

    &.btn-primary {
        background-color: $accent;

        &:hover {
            background-color: darken( $accent, 7% );
        }
    }

    &.btn-success {
        background-color: $pilot;

        &:hover {
            background-color: darken( $pilot, 7% );
        }
    }
}