.jumbotron {
    border-radius: 0;
    padding: 0;
    padding: 30px 20px;
    background: #f8f8f8;

    h1 {
        font-size: 55px;
        margin-bottom: 0;
    }

    .toolbar {
        .btn {
            margin-top: 20px;

            &.btn-default {
                background-color: transparent;
                padding: 10px 15px;
                border-radius: 99px;

                .fa-fw {
                    margin-right: 10px;
                }

                &:hover {
                    background-color: #eee;
                }
            }
        }
    }

    .container {
        padding: 0;
    }
}