.jumbotron {
    border-radius: 0;

    &.accent {
        background-color: $accent;
        color: #fff;
        padding: 15px 0;
        margin: 0;

        h1 {
            font-size: 60px;
        }

        .container {
            padding: 0;
        }
    }
}