.label {
    font-size: 100%;
    font-weight: 600;
    padding: .3em .7em .4em 0 !important;
    text-transform: uppercase;

    &.vnext, &.leak {
        color: $leak;
    }
    
    &.skip {
        color: $skip;
    }

    &.fast {
        color: $fast;
    }

    &.slow {
        color: $slow;
    }

    &.preview {
        color: $preview;
    }

    &.release {
        color: $releasepreview;
    }

    &.targeted {
        color: $targeted;
    }

    &.broad {
        color: $broad;
    }

    &.lts {
        color: $ltsc;
    }
}