// Light theme
.light {
    color: #222;

    .cw-sidebar {
        .list-group {
            .list-group-item {
                color: #222;

                &:hover {
                    background-color: rgba(255,255,255,.1);
                    border-color: rgba(255,255,255,.7);
                }
            }
        }
    }

    .cw-content {
        .btn {
            &.btn-default {
                color: #222;
            }
        }
    }

    .contrast-40 {
        background: rgba(255,255,255,.4);
    }
    
    .contrast-95 {
        background: rgba(255,255,255,.95);
    }
    
    .cw-form {
        &.contrast-40 {
            background: rgba(255,255,255,.4);
        }
    }
}