.list-bar-group {
    padding: 0 18px;

    .list-bar {
        padding: 0 12px;

        .list-bar-item {
            padding: 10px;
            background: #f2f2f2;
            margin-bottom: 3px;

            &:hover {
                text-decoration: none;
            }

            &.list-bar-default {
                color: $accent;

                &:hover {
                    background: $accent;
                    color: #fff;
                }
            }

            &.list-bar-grey {
                color: $accent;

                &:hover {
                    background: #f9f9f9;
                }
            }

            &.list-bar-danger {
                color: $leak;

                &:hover {
                    background: $leak;
                    color: #fff;
                }
            }

            &.list-bar-success {
                color: $pilot;

                &:hover {
                    background: $pilot;
                    color: #fff;
                }
            }

            &.list-bar-platform {
                text-align: center;

                &.list-bar-pc {
                    background: #0078d7;
                }

                &.list-bar-mobile {
                    background: #21c8ff;
                }

                &.list-bar-xbox {
                    background: #107c10;
                }

                &.list-bar-server {
                    background: #ab59f7;
                }

                &.list-bar-iot {
                    background: #e75819;
                }

                &.list-bar-mixed {
                    background: #ff9c00;
                }

                &.list-bar-team {
                    background: #787878;
                }
            }

            .list-bar-item-row {
                margin-left: 0;
                margin-right: 0;
                padding: 0;
            }
        }
    }
}