.list-bar-group {
    padding: 0 18px;

    .list-bar {
        padding: 0 12px;

        .list-bar-item {
            padding: 10px;
            background: #f8f8f8;
            margin-bottom: 3px;

            &:hover {
                text-decoration: none;
            }

            &.list-bar-default {
                color: $accent;

                &:hover {
                    background: $accent;
                    color: #fff;
                }
            }

            &.list-bar-grey {
                color: $accent;

                &:hover {
                    background: #f9f9f9;
                }
            }

            &.list-bar-danger {
                color: $skip;

                &:hover {
                    background: $skip;
                    color: #fff;
                }
            }

            &.list-bar-success {
                color: $targeted;

                &:hover {
                    background: $targeted;
                    color: #fff;
                }
            }

            &.list-bar-platform {
                text-align: center;

                &.list-bar-pc {
                    background: $pc;
                }

                &.list-bar-mobile {
                    background: $mobile;
                }

                &.list-bar-xbox {
                    background: $xbox;
                }

                &.list-bar-server {
                    background: $server;
                }

                &.list-bar-iot {
                    background: $iot;
                }

                &.list-bar-mixed {
                    background: $mixed;
                }

                &.list-bar-team {
                    background: $team;
                }
            }

            &.list-bar-indicate {
                border-left-width: 5px;
                border-left-style: solid;

                &.list-bar-pc {
                    border-left-color: $pc;
                }

                &.list-bar-mobile {
                    border-left-color: $mobile;
                }

                &.list-bar-xbox {
                    border-left-color: $xbox;
                }

                &.list-bar-server {
                    border-left-color: $server;
                }

                &.list-bar-iot {
                    border-left-color: $iot;
                }

                &.list-bar-mixed {
                    border-left-color: $mixed;
                }

                &.list-bar-team {
                    border-left-color: $team;
                }
            }

            .list-bar-item-row {
                margin-left: 0;
                margin-right: 0;
                padding: 0;
            }
        }
    }
}