$accent: #0078d7;
$accent-contrast: #747474;

$dark-grey: #222;
$grey: #999;
$light-grey: #eee;

$leak: #dc5332;
$fast: #f28a11;
$slow: #ffba00;
$preview: #cccc29;
$release: #b5b540;
$pilot: #76b540;
$broad: #40b57b;
$ltsc: #40a3b5;

$pc: #0078d7;
$mobile: #21c8ff;
$xbox: #107c10;
$server: #ab59f7;
$iot: #e75819;
$reality: #ff9c00;
$team: #787878;

$font-stack-mono: Menlo, Monaco, Consolas, "Courier New", monospace;