$accent: #0078d7;
$accent-contrast: #747474;

$dark-grey: #222;
$grey: #999;
$light-grey: #eee;

$fast: #f28a11;
$slow: #ffba00;
$preview: #cccc29;
$releasepreview: #b5b540;
$pilot: #76b540;
$broad: #40b57b;
$ltsc: #40a3b5;
$leak: #dc5332;

$font-stack-mono: Menlo, Monaco, Consolas, "Courier New", monospace;