$accent: #0078d7;
$accent-contrast: #747474;

$dark-grey: #222;
$grey: #999;
$light-grey: #eee;

$leak: #e52262;
$skip: #e54822;
$fast: #fb8410;
$slow: #ffc000;
$preview: #c4da0e;
$releasepreview: #9dc917;
$targeted: #50c236;
$broad: #22ac90;
$ltsc: #0098df;

$pc: #0078d7;
$mobile: #21c8ff;
$xbox: #107c10;
$server: #ab59f7;
$iot: #e75819;
$mixed: #ff9c00;
$team: #787878;

$font-stack-mono: Menlo, Monaco, Consolas, "Courier New", monospace;