// General
@import "variables";

// Bootstrap
@import "grid";
@import "form";
@import "btn";
@import "label";
@import "img";
@import "navbar";
@import "jumbotron";
@import "modal";

// ChangeWindows
@import "brand";
@import "list_bar";

// Themes
@import "light";
@import "dark";

// General
body {
    min-height: 100%;
}

// Fonts
h1 {
    font-size: 35px;
    font-weight: 700;
}

h2 {
    font-size: 28px;
    font-weight: 700;
    margin-top: 10px;
}

.h2-delete {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 30px;
}

.h3-delete {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 210px;
}

.h4-delete {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
}

// Container
.content {
    padding: 20px 30px !important;
}